<%- include('../partials/head') -%> <%- include('../partials/header') -%>

<div class="row page-container bg-white">
	<div class="col-3 border-right profile-feed">
		<div class="d-flex flex-column align-items-center text-center p-3 py-5">
			<a class="navbar-brand" href="#">
				<img src="/images/lg.png" alt="logo" />
			</a>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="" class="nav-link">
						<i class="fas fa-user-circle text-primary"></i>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/auth/login">
						Login<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/auth/register">Register</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col border-right post-container">
		<!---beginning of user feeds-->

		<div class="post-feed">
			<div class="mt-5 pt-5">
				<form action="/user/post" method="post">
					<div class="form-group">
						<textarea
							class="form-control"
							name="article"
							rows="3"
							placeholder="What is on your mind?"
						></textarea>
					</div>
					<button class="btn btn-primary btn" type="submit">Post</button>
				</form>
			</div>
			<div class="d-flex justify-content-between mt-5 align-items-center">
				<h4 class="text-right">Timeline</h4>
			</div>
			<hr />
			<div class="container auth-wrapper">
				<%- include('../partials/messages') -%>
				<main class="mainBody">
					<% allPost.forEach((post) => { %>
					<div class="jumbotron py-3 px-2 rounded">
						<div class="media">
							<div class="user-details_left">
								<div class="avatar-circle mr-3">
									<span class="initials"><%= post.user.avatar %> </span>
								</div>
								<div class="user-name pr-2">
									<span class="tag">@</span><%= post.user.username %>
								</div>
							</div>
							<div class="media-body ml-3">
								<h5 class="mt-0 d-flex justify-content-between">
									<span><%= post.user.firstName %>&nbsp;<%= post.user.lastName%></span>
									<span><cite class="timestamp"> <%= moment(post.createdAt).fromNow() %></cite></span>
								</h5>
								<p>
									<%= post.article %>
									<form class="interaction-btn d-flex justify-content-around pb-2 mt-2" action="/user/like-post/<%- post._id %>" method="POST">
										<input type="text" name="like" value="like" style="display: none" />
										<span>
											<button class="like-btn" type="submit">
											<a>
												<i class="fa fa-heart stroke-transparent" aria-hidden="true"></i>
											</a>
										</button>
										<% if(post.likes.length <= 1) { %>
											<%= post.likes.length %>&nbsp;like
											<% } else { %>
												<%= post.likes.length %>&nbsp;likes
											<% } %>
										</span>
										<span>
											<a role="button" data-toggle="modal" data-target="#postComment<%- post._id %>" ><i class="fa fa-comment stroke-transparent" aria-hidden="true"></i></a>
										&nbsp;<% if(post.comments.length <= 1) { %>
											<span> <%= post.comments.length %>&nbsp;comment</span>
											<% } else { %>
												<span> <%= post.comments.length %>&nbsp;comments</span>
											<% } %>
										</span>
									</form>
								</p>
								<div class="modal fade" id="postComment<%- post._id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											</div>
											<div class="modal-body">
												<form action="/user/comment-post/<%- post._id %>" method="post">
													<div class="form-group">
														<textarea
															class="form-control"
															id="statement"
															name="statement"
															rows="2"
															placeholder="Write a public comment"
														></textarea>
													</div>
													<div class="modal-footer">
													<button type="button" class="btn btn-warning" data-dismiss="modal">Discard</button>
													<button class="btn btn-primary" type="submit">Comment</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									</div>
								<% post.comments.forEach(comment => { %>
									<div class="jumbotron py-3 px-2 rounded" style="background-color: #f9f9f9 !important;">
										<div class="media mt-3">
										<div class="user-details_left">
										<div class="avatar-circle mr-3">
											<span class="initials"><%= comment.user.avatar %> </span>
										</div>
										<div class="user-name pr-2">
											<span class="tag">@</span><%= comment.user.username %>
										</div>
									</div>
										<div class="media-body ml-3">
											<h5 class="mt-0 d-flex justify-content-between">
												<span><%= comment.user.firstName %>&nbsp;<%= comment.user.lastName%></span>
												<span><cite class="timestamp"> <%= moment(comment.createdAt).fromNow() %></cite></span>
											</h5>
											<p>
												<%= comment.statement %>
												<form class="d-flex interaction-btn justify-content-around pb-2 mt-2" action="/user/like-comment/<%- comment._id %>" method="POST">
													<input type="text" name="like" value="like" style="display: none" />
													<span>
														<button class="like-btn" type="submit">
														<a>
															<i class="fa fa-heart stroke-transparent" aria-hidden="true"></i>
														</a>
													</button>
													<% if(comment.likes.length <= 1) { %>
														<%= comment.likes.length %>&nbsp;like
													<% } else { %>
														<%= comment.likes.length %>&nbsp;likes
													<% } %>
													</span>
													<a role="button" style="color: inherit; text-decoration: none;">Reply</a>
												</form>
											</p>
										</div>
									</div>
									</div>
								<% }) %>		
							</div>
						</div>
					</div>
					<% }) %>
				</main>
			</div>
		</div>
	</div>
	<!---end of user feeds-->
	<div class="col-3 news-feed">
		<div class="p-3 py-5">
			<div
				class="d-flex justify-content-between ml-4 align-items-center experience"
			>
				<span class="border px-3 p-1 add-experience">
					<i class="fa fa-plus"></i>
					&nbsp;Add interest</span
				>
			</div>
			<br />
			<div class="col-md-12">
				<label class="labels">News around the word</label>
				<input
					type="text"
					class="form-control"
					placeholder="Soccer, Basketball..."
					value=""
				/>
			</div>
			<br />
			<div class="col-md-12">
				<label class="labels">Horoscope</label
				><input type="text" class="form-control" placeholder="Virgo..." value="" />
			</div>
		</div>
	</div>
</div>

<%- include('../partials/foot') -%>
