<%- include('../partials/head') -%> <%- include('../partials/header') -%>

<div class="container">
	<%- include('../partials/messages') -%>
	<div class="card card-body">
		<form action="/user/post-comment/<%- userComments.posts._id %>" method="post">
			<div class="form-group">
				<textarea
					class="form-control"
					id="comment"
					name="comment"
					rows="3"
					placeholder="Write a public comment"
				></textarea>
			</div>
			<button class="btn btn-primary" type="submit">Comment</button>
		</form>
	</div>

	<main class="mainBody">
		<% allComment.forEach((comment) => { %>
		<div class="card">
			<div class="card-content">
				<div class="user-details">
					<div class="avatar-circle">
						<span class="initials"> <%= comment.user.avatar %> </span>
					</div>
					<div class="user-details_name">
						<span> <%= comment.user.firstName %> </span>&nbsp;
						<span> <span class="tag">@</span><%= comment.user.userName %> </span>
					</div>
					<cite class="timestamp"> <%= moment(post.createdAt).fromNow() %></cite>
				</div>
				<div class="post-card text-dark">
					<div class="media">
						<div class="media-body">
							<p><%= comment.statement %></p>
						</div>
					</div>
				</div>
				<hr />
				<div class="interaction-section d-flex">
					<div class="d-flex mx-4">
						<form action="/user/like-comment/<%- comment._id %>" method="POST">
							<input type="text" name="like" value="like" style="display: none" />
							<button class="like-btn" type="submit">
								<a><i class="fa fa-heart text-primary" aria-hidden="true"></i></a>
							</button>
						</form>
						<p><%= comment.likes.length %>&nbsp; likes</p>
					</div>
               <div></div>
				</div>
			</div>
		</div>
		<hr class="partition" />
		<% }) %>
	</main>
</div>

<%- include('../partials/foot') -%>
